asteval==0.9.18
auto-py-to-exe==2.46.0
cycler==0.10.0
defusedxml==0.7.1
et-xmlfile==2.0.0
fonttools==4.37.1
fpdf2==2.8.3
future==0.17.1
kiwisolver==1.4.2
matplotlib==3.5.3
numpy==1.21.4
packaging==24.2
Pillow==8.2.0
pint==0.21.1
pyerfa==2.0
pyparsing==2.4.2
pyperclip==1.8.2
PyQt5==5.15.0
pyqt5-plugins==5.15.0.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
pyqt5-tools==5.15.0.3.2
PyQtWebEngine==5.15.2
PyQtWebEngine-Qt5==5.15.2
PySide2==5.15.2.1
python-dateutil==2.8.1
python-slugify==8.0.1
pytz==2020.1
PyYAML==5.1.2
qt5-applications==5.15.0.2.2
qt5-tools==5.15.0.1.2
QtPy==1.9.0
requests==2.32.4
setuptools==75.3.0
shiboken2==5.15.2.1
six==1.12.0